body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
}

.about {
    color:aquamarine;
}

.skills {
    color:aqua;
}

.projects {
    display:flex; flex-wrap:wrap;
    color:cyan;
}

.project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: rgb(58, 78, 131);
    border-radius: 25%;
}

.contact {
    color:darkcyan; 
}